/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

:root {
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Poppins";
  --font-third: "Nunito", sans-serif;
}

:root {
  --color-default: #2d2828;
  --color-primary: #512e67;
  --color-secondary: #ff6699;
  --color-third: #c54c82;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-third);
  background: #f6f9ff;
  color: #444444;
  /* background-image: url(../img/bg-login.png); */
  /* background-repeat: no-repeat;
  background-size: cover; */
}

.form-animation {
  transition: transform 0.5s ease;
}

.form-step:not(.active) {
  display: none;
}

/* Gunakan CSS untuk menyembunyikan elemen form saat animasi */
User .form-hidden {
  transform: translateX(-100%);
  opacity: 0;
}

#progressbar {
  margin-bottom: 20px;
  text-align: center;
}

#progressbar li {
  list-style-type: none;
  width: 33.33%;
  float: left;
  position: relative;
  text-align: center;
}

#progressbar li.active {
  color: green;
}

#progressbar li::before {
  content: '';
  width: 15px;
  height: 15px;
  line-height: 30px;
  border: 2px solid #bebebe;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin: 0 auto 10px auto;
}

#progressbar li.active::before {
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary);
}

/* Style untuk teks di bawah progress bar */
#progressbar span {
  display: block;
  color: #555;
  /* warna teks di bawah progress bar */
  font-size: 12px;
  margin-top: 5px;
  /* jarak antara progress bar dan teks di bawahnya */
}

.login h3 {
  background: linear-gradient(45deg, #C54C82, #A84A80, #512E67);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.circle-small {
  position: absolute;
  bottom: 30px;
  left: 100px;
  width: 75px;
  height: 75px;
  border-radius: 200px;
  /* border-radius: 200px 0px 200px 0px; */
  background: linear-gradient(90deg, #ff6699, #512e67);

}

.circle-small2 {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 150px;
  height: 150px;
  border-radius: 200px;
  /* border-radius: 200px 0px 200px 0px; */
  background: linear-gradient(90deg, #ff6699, #512e67);

}



.half-circle {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background: linear-gradient(90deg, #ff6699, #512e67);

}

.circle {
  position: absolute;
  top: 125px;
  right: 90px;
  width: 100px;
  height: 100px;
  border-radius: 200px;
  background: linear-gradient(90deg, #512e67, #ff6699);

}


.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/background-login.png);
  background-size: cover;
}

.login .box-luar {
  border-radius: 10px;
  padding: 3vw;
  margin-top: 20%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(1vw);
  box-shadow: 1vw 1vw 2vw rgba(0, 0, 0, 0.1);
}

.login .box-luar .box-dalam {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 2vw;
  width: 40vw;
  max-width: 450px;
  box-shadow: 1vw 1vw 2vw rgba(0, 0, 0, 0.1);
}





bg-login .login-container h2,
bg-login .login-container h3 {
  text-align: left !important;
  font-family: var(--font-third);
}


.form-container {
  font-family: var(--font-third);
  font-weight: 500px;

  place-items: center;
  width: 65%;
  height: 85%;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  /* Menambahkan shadow */
  padding: 20px;
  position: absolute;
  /* Menambahkan properti position */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  text-align: center;
  /* Memposisikan gambar secara horizontal di tengah */
}



a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-third);
}





/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}


/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/

.btn.btn-pink {
  font-family: var(--font-third);
  font-weight: 800;
  color: #fff;
}

.btn-pink {
  background: linear-gradient(90deg, #ff6699, #512e67);

  border: none;
}

.btn-pink:hover {
  background: linear-gradient(90deg, #512e67, #ff6699);
}


.pagetitle {
  margin-bottom: 10px;
}

.pagetitle h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  color: #012970;
}

.btn-primary {
  background-color: #ff69b4;
  /* Atur warna pink sesuai kebutuhan */
}

.form-label {
  font-size: 16px;
  font-family: var(--font-third);
  font-weight: 600;
}

.form-check-label {
  font-size: 16px;
  font-family: var(--font-third);
  font-weight: 600;
}

.forgot-password-link {
  font-size: 16px;
  font-family: var(--font-third);
  font-weight: 600;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #4154f1;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}